<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a href="/">Main Farm</a></li>
            <li class="main-header__item"><a href="/add-animals">Animals</a></li>
            <li class="main-header__item"><a href="/add-plants">Plants</a></li>
        </ul>
    </nav>
</header>