<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a class="<%= path === '/' ? 'active': ''%>" href="/">Main Farm</a></li>
            <li class="main-header__item"><a class="<%=path === '/add-animals' || path === '/view-animals' ? 'active' : ''%>" href="/add-animals">Animals</a></li>
            <li class="main-header__item"><a class="<%= path === '/add-plats' || path === '/view-plants' ? 'active' : ''%>" href="/add-plants">Plants</a></li>
        </ul>
    </nav>
</header>