<%- include('includes/head.ejs')%>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/animals.css">
</head>

<body>
<%- include('includes/navigation.ejs')%>
<main>
    <form class="product-form" action="/view-plants" method="post">
        <div class="form-control">
            <label for="Type">Type</label>
            <input type="text" name="Type" id="Type">
            <label for="Color">Color</label>
            <input type="text" name="Color" id="Color">
            <label for="Price">Price</label>
            <input type="text" name="Price" id="Color">
        </div>

        <button class="btn" type="submit">Add Plant</button>
    </form>
</main>

<%- include('includes/end.ejs')%>